extends layout

block content
  form(
    enctype='multipart/form-data'
    method='post'
    action='/deck/new'
    class='upload-form'
  )
    label(class='upload-form__label' for='file') Upload Anki Deck</br>(must be exported as json and zipped):
    input(class='btn btn--input' name='zipfile' type='file')
    button(class='btn btn--submit' type='submit') Add Deck

  form(
    method='post'
    action='/corrections'
    class='upload-form'
  )
    label(class='upload-form__label') Issue Card Correction: 
    input(name='cardId' class='login--input' type='text' placeholder='card ID')
    input(name='wrongAnswer' class='login--input' type='text' placeholder='wrong answer')
    input(name='newHint' class='login--input' type='text' placeholder='new hint')
    input(class='btn btn--submit' type='submit' value='Issue Correction')

  h3 Tweet Queue:
  each card in queue
    .card
      h4(class='inline') Card ID:
      p(class='inline')= card.cardId
      br

      h4(class='inline') Game:
      p(class='inline')= card.game
      br

      h4 Question Text:
      blockquote
        each line in card.questionText.split('\n')
          p= line

      h4 Prevline Images:
      each image in card.prevLineImages
        img(src=`data:image/png;base64, ${image}` alt='prevLineImg')

      h4 Prevline Alt Text:
      p= card.prevLineAltText

      h4 Question Images:
      each image in card.questionImages
        img(src=`data:image/png;base64, ${image}` alt='prevLineImg')

      h4 Question Alt Text:
      p= card.questionAltText

      h4 Other Visible Context:
      p= card.otherVisibleContext

      h4 Answer Images:
      each image in card.answerImages
        img(src=`data:image/png;base64, ${image}` alt='prevLineImg')

      h4 Answer Alt Text:
      p= card.answerAltText

      h4 Answers:
      p= card.answers

      form(
        method='post'
        action='/queue-card/replace'
      )
        input(
          type='hidden'
          name='cardId'
          value=card.cardId
        )
        input(
          class='btn btn--replace'
          type='submit'
          value='Replace This Card'
        )