extends layout

block content
  .banner-container
    div(class=`banner banner--${flash && flash.type}`)= flash && flash.message

  form(
    method='post'
    action='/admin/corrections'
    id='corrections-form'
    class='form'
  )
    label(class='form__label') Issue Card Correction: 
    label(class='qid-label') QID 
    input(name='cardId' class='login--input' type='text' placeholder='12345')
    input(name='wrongAnswer' class='login--input' type='text' placeholder='wrong answer')
    input(name='newHint' class='login--input' type='text' placeholder='new hint')
    input(id='corrections-submit' class='btn btn--submit corrections-submit' type='submit' value='Issue Correction')

  form(
    method='post'
    action='/admin/add-alt-answer'
    id='alt-answer-form'
    class='form'
  )
    label(class='form__label') Add Alternate Answer: 
    label(class='qid-label') QID 
    input(name='cardId' class='login--input' type='text' placeholder='12345')
    input(name='altAnswer' class='login--input' type='text' placeholder='new alternate answer')
    input(id='alt-answer-submit' class='btn btn--submit alt-answer-submit' type='submit' value='Add Alt Answer')

  form(
    enctype='multipart/form-data'
    method='post'
    action='/admin/deck/new'
    id='new-deck-form'
    class='form'
  )
    label(class='form__label' for='file') Upload Anki Deck</br>(must be exported as json and zipped):
    input(class='btn btn--input' name='zipfile' type='file')
    button(id='new-deck-submit' class='btn btn--submit new-deck-submit' type='submit') Add Deck

  h3 Tweet Queue:
  each card, index in queue
    .card
      h4(class='inline') Card ID:
      p(class='inline')= card.cardId
      br

      h4(class='inline') Game:
      p(class='inline')= card.game
      br

      h4 Question Text:
      blockquote
        each line in card.questionText.split('\n')
          p= line
    
      h4 Prevline Images:
      each image in card.prevLineImages
        img(src=`data:image/png;base64, ${image}` alt='prevLineImg')

      h4 Prevline Alt Text:
      p= card.prevLineAltText

      h4 Question Images:
      each image in card.questionImages
        img(src=`data:image/png;base64, ${image}` alt='prevLineImg')

      h4 Question Alt Text:
      p= card.questionAltText

      h4 Other Visible Context:
      p= card.otherVisibleContext

      h4 Answer Images:
      each image in card.answerImages
        img(src=`data:image/png;base64, ${image}` alt='prevLineImg')

      h4 Answer Alt Text:
      p= card.answerAltText

      h4 Answers:
      p= card.answers

      form(
        id=`replace-card-form-${index}`
        class='replace-card-form'
        method='post'
        action='/admin/queue-card/replace'
      )
        input(
          type='hidden'
          name='cardId'
          value=card.cardId
        )
        input(
          id=`replace-card-submit-${index}`
          class='btn btn--replace replace-card-submit'
          type='submit'
          value='Replace This Card'
        )

  script(src='/admin.js')